<section class="events">
	<h3 class="default-title">Events</h3>
	<div class="event">
		<div class="event-time">
			<div class="event-time-big">24</div>
			<div class="event-time-small">sep</div>
		</div>
		<div class="event-content">
			<div class="event-content-text">
				<h4 class="event-content-text-title">
					2016 Annual Catch Summit: Beaufort
				</h4>
				<p class="event-content-text-time">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>04:30pm - 10:00pm
				</p>
				<p class="event-content-text-address">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>102 South Main St.
				</p>
				<p class="event-content-text-city">
					Beaufort. NC
				</p>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-time">
			<div class="event-time-big">24</div>
			<div class="event-time-small">sep</div>
		</div>
		<div class="event-content">
			<div class="event-content-text">
				<h4 class="event-content-text-title">
					2016 Annual Catch Summit: Beaufort
				</h4>
				<p class="event-content-text-time">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>04:30pm - 10:00pm
				</p>
				<p class="event-content-text-address">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>102 South Main St.
				</p>
				<p class="event-content-text-city">
					Beaufort. NC
				</p>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-time">
			<div class="event-time-big">24</div>
			<div class="event-time-small">sep</div>
		</div>
		<div class="event-content">
			<div class="event-content-text">
				<h4 class="event-content-text-title">
					2016 Annual Catch Summit: Beaufort
				</h4>
				<p class="event-content-text-time">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>04:30pm - 10:00pm
				</p>
				<p class="event-content-text-address">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>102 South Main St.
				</p>
				<p class="event-content-text-city">
					Beaufort. NC
				</p>
			</div>
		</div>
	</div>
	<div class="event">
		<div class="event-time">
			<div class="event-time-big">24</div>
			<div class="event-time-small">sep</div>
		</div>
		<div class="event-content">
			<div class="event-content-text">
				<h4 class="event-content-text-title">
					2016 Annual Catch Summit: Beaufort
				</h4>
				<p class="event-content-text-time">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>04:30pm - 10:00pm
				</p>
				<p class="event-content-text-address">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>102 South Main St.
				</p>
				<p class="event-content-text-city">
					Beaufort. NC
				</p>
			</div>
		</div>
	</div>
	<footer class="main-content-footer">
		<a href="#">[View more events]</a>
	</footer>
</section>