<%= render :layout => '/refinery/second_pages' do%>
	<h3 class="article-header">
  		<%= @page.title %>
  	</h3>
  	<p class="article-paragraph">
  		<%=raw(@page.content_for(:body)) %>
  	</p>
<% end %>