<footer class="main-footer cont">
  <div class="main-footer-contacts">
    <span>T: 919-818-0122</span> <span class="main-footer-contacts-email">E: Info@nccatch.org</span>
  </div>
  <div class="main-footer-copyrights">
    <span>Copyright © 2006-2016</span>
    <span class="main-footer-copyrights-company">NC Catch | </span>
    <span class="main-footer-copyrights-powered">Designed & Powered by Deep Fried Creative Inc</span>
  </div>
</footer>